* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none
}

ul {
    margin: 0;
    padding: 0;
}

.main {
    width: 80vw;
    padding-right: 30px;
    padding-left: 10px;
}

.week-scroll {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

button {
    border: 2px solid rgb(235, 235, 235);
    padding: 10px;
}

.calendar-container {
    display: grid;
    grid-template-columns: 150px auto;
    grid-template-rows: auto;
    gap: 1px 1px;
    grid-template-areas: 
    ". header"
    "users events";
    text-align: center;
}

.weekdays, .days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding: 5px;
}

.days {
    min-height: 2em;
}

.weekdays {
    background: lightblue;
}

.header {
    background-color: rgb(220, 255, 253);
    grid-area: header;
}

.users-container {
    background-color: rgb(79, 180, 119);
    grid-area: users;
}

.users {
    display: flex;
    flex-direction: column;
}

.users li {
    min-height: 80px;
    padding: 10px 0 0 0;
}

.events-container {
    display: grid;
    position: relative;
    grid-area: events;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
    
}

.event-container {
    border: 1px solid rgb(216, 228, 231);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-width: 0;
}

.task {
    background-color: rgb(145, 166, 255);
    width: 100%;
    padding: 5px;
  
}

.sidebar {
  position: fixed;
  min-width: 200px;
  top: 0;
  right: 0;
  width: 20vw;
  height: 100%;
  background-color:  rgb(6, 6, 6);
  margin-top: 20px;
}

.backlog-task {
    padding: 4px;
    margin: 6px;
    background-color: rgb(29, 30, 34);
    color: white;
    border: 1px solid rgb(47, 47, 47)
}

.hover-task {
    position: relative;
    max-width: 100%;
    word-wrap: break-word;
}

.hover-task-details {
    position: absolute;
    left: 0;
    top: 0;
    min-width: max-content;
    max-width: 100%;
    background-color: white;
    border: 2px solid black;
    padding: 10px;
    visibility: hidden;
    opacity: 0;
}

.hover-task:hover .hover-task-details {
    top: 100%;
    visibility: visible;
    opacity: 1;
    z-index: 99;
}

.searchbox {
    width: 100%;
    height: 50px;
    margin: auto;
}

.searchbox input{
    width: 100%;
    border: 2px solid rgb(235, 235, 235);
    padding: 10px;
}


.hide {
    display: none;
}

@media (max-width: 700px) {
    .sidebar {
        display: none;
    }

    .main {
        width: 100%;
    }
}